language: php

php:
  - 7.1.9

before_script:
  - composer require --dev phpunit/phpunit

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=clover coverage.xml
 