<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Axessors">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
        <exclude>
            <directory>examples/</directory>
            <directory>tests/</directory>
            <directory>vendor/</directory>
        </exclude>
    </filter>
</phpunit>